/*Fonction pour éviter de répéter de truc pas retenable exemple avec les couleurs*/
:root {
  --vert-clair: #6d9773;
  --Vert-foncé: #0c3b2e;
  --jaune: #ffba00;
  --marron: #b46617;
  --blanc: #f2f2f2;
  --noir: #0f0f0f;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Inclusive Sans", serif;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Debut header */

header {
  background-color: var(--Vert-foncé);
  color: var(--blanc);
  padding: 20px;
  display: flex;
  justify-content: space-between; /* Aligne les éléments horizontalement */
  align-items: center; /* Centre verticalement */
}

.header-container {
  display: flex;
  align-items: center; /* Centre le logo et le texte verticalement */
}

/* Styles par défaut pour les écrans larges */
.logo {
  width: 200px; /* Taille par défaut pour les grands écrans */
  margin-right: 1rem;
}

.store {
  width: 200px;
  margin-right: 1rem;
}

/* Pour les tablettes (écrans moyens) */
@media (max-width: 768px) {
  .logo,
  .store {
    width: 150px; /* Réduit la largeur des éléments */
  }
}

/* Pour les téléphones (petits écrans) */
@media (max-width: 480px) {
  .logo,
  .store {
    width: 100px; /* Taille encore plus petite pour les écrans étroits */
    margin-right: 0.5rem; /* Réduit l'espacement pour maximiser l'espace disponible */
  }
}

/* Fin header */

main {
  padding: 2rem;
  background-color: var(--vert-clair);
}

.features,
.demo,
.team {
  margin-bottom: 2rem;
}

.features ul {
  list-style-type: none;
  padding: 0;
}

.features li {
  background-color: var(--blanc);
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-left: 5px solid var(--marron);
}

div.maquette {
  display: flex;
  justify-content: center;
}

.carousel {
  position: relative;
  width: 80%; /* Ajuste la largeur du carousel */
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 50%; /* La largeur totale est 3 fois celle du conteneur */
}

.carousel-images img {
  width: 100%;
  flex-shrink: 0; /* Chaque image occupe 100% de la largeur */
}

/* Début css Team */

.team-section {
  text-align: center;
  padding: 20px;
}

.team-member {
  display: inline-block;
  margin: 20px;
  text-align: center;
}

.team-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}

.team-name {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.team-link {
  display: block;
  margin-top: 5px;
  color: var(--marron); /* Couleur pour LinkedIn */
  text-decoration: none;
  font-size: 16px;
}

.team-link:hover {
  text-decoration: underline;
}

/* Fin css Team */

footer {
  text-align: center;
  padding: 1rem;
  background-color: var(--jaune);
}

footer p {
  margin: 0.5rem 0;
}
